.bg-animate {
    background: linear-gradient(-45deg, var(--primary), var(--secondary), var(--primary));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.blob {
    fill: url(#gradient);
    animation: blob 7s infinite;
}

@keyframes blob {
    0% { d: path("M40,-50C52.8,-40.6,64.5,-27.9,68.4,-12.8C72.3,2.3,68.4,19.8,59.3,32.8C50.2,45.8,35.9,54.3,20.6,57.7C5.3,61.1,-11,59.4,-24.8,52.7C-38.6,46,-49.9,34.2,-56.6,19.9C-63.3,5.6,-65.4,-11.2,-59.7,-24.4C-54,-37.6,-40.4,-47.1,-27,-53.1C-13.6,-59.1,-0.4,-61.6,12.8,-59.8C26,-58,39.2,-52,40,-50Z"); }
    50% { d: path("M44.1,-51.5C55.4,-39.8,61.7,-24.1,63.2,-8.2C64.7,7.7,61.4,23.8,52.3,36.1C43.2,48.4,28.3,56.8,12.5,59.7C-3.3,62.5,-20,59.8,-34.7,51.5C-49.4,43.2,-62.1,29.3,-65.6,13.2C-69.1,-2.9,-63.4,-21.2,-52.7,-33.9C-42,-46.6,-26.3,-53.7,-9.8,-54.8C6.7,-55.9,32.8,-63.1,44.1,-51.5Z"); }
    100% { d: path("M40,-50C52.8,-40.6,64.5,-27.9,68.4,-12.8C72.3,2.3,68.4,19.8,59.3,32.8C50.2,45.8,35.9,54.3,20.6,57.7C5.3,61.1,-11,59.4,-24.8,52.7C-38.6,46,-49.9,34.2,-56.6,19.9C-63.3,5.6,-65.4,-11.2,-59.7,-24.4C-54,-37.6,-40.4,-47.1,-27,-53.1C-13.6,-59.1,-0.4,-61.6,12.8,-59.8C26,-58,39.2,-52,40,-50Z"); }
} 